APP_NAME=UNDAGI
APP_TITLE="UNDAGI - Mengatasi masalah tanpa solusi"
APP_COMPANY="PT. UNDAGI"
APP_ENV=local
APP_KEY=base64:2wzCwzEVYMa0RL5Y8LR+INhg46PuiRAAqyLvHquVZDs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=akbardoto@gmail.com
MAIL_PASSWORD=Mikasa123qwe
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

reCAPTCHA_v2_SITEKEY=
reCAPTCHA_v2_SECRETKEY=

JWT_SECRET=qntWuD65UYezuu53TGeeB9swedswLKUxbYHfhfEX5ZDD2xeDx455V5Ee4XbmVMPu

MIDTRANS_MERCHANT_ID='G826030478'
MIDTRANS_CLIENT_KEY='SB-Mid-client-gDnN-ehKxIfdiqIq'
MIDTRANS_SERVER_KEY='SB-Mid-server-oCMx12P30YF6mmhrQrm3ikz7'

# production key
#MIDTRANS_MERCHANT_ID=
#MIDTRANS_CLIENT_KEY=
#MIDTRANS_SERVER_KEY=
